.order-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .logo {
    height: auto;
    width: 150px;
    padding-top: 20px;
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 30px;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .profile-heading {
      }
      .address-heading {
        text-align: justify;
      }
      .payment-method-div {
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;
        .payment-method-heading {
        }
        .payment-image-div {
          cursor: pointer;
          display: flex;
          align-items: center;
          border: 1px solid grey;
          border-radius: 0.25rem;
          .choose-payment {
            margin: 0px;
            padding: 10px;
          }
          .arrow-image {
            width: 15px;
            margin-right: 10px;
            transition: 0.25s;
          }
        }
        .payment-method-cards-div {
          position: absolute;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          left: 40%;
          top: 65%;
          background-color: white;
          border: 2px solid grey;
          border-radius: 10px;
          .credit-card-div {
            display: flex;
            align-items: center;
            padding: 5px;
            padding-right: 10px;
            transition: 0.5s ease;
            &:hover {
              background-color: rgba(128, 128, 128, 0.473);
            }
            .credit-card-image {
              width: 50px;
              object-fit: contain;
            }
            .card {
              font-size: 16px;
              margin: 0px;
            }
          }
        }
        .payment-method-error-div {
          border: 1px solid red;
          border-radius: 10px;
          background-color: rgba(214, 42, 42, 0.308);
          .payment-method-error-heading {
            margin: 0px;
            padding: 20px;
            color: rgb(223, 41, 41);
          }
        }
      }
    }
    .checkout-wrapper {
      .checkout-info-wrapper {
        .product-and-price-wrapper {
          display: flex;
          gap: 50px;
          .summary-heading {
          }
        }
        .checkout-button {
          max-width: 200px;
          background-color: transparent;
          margin-top: 30px;
          padding: 9px;
          cursor: pointer;
          border: 2px solid grey;
          transition: 0.5s;
          &:hover {
            border-radius: 10px;
            background-color: rgba(216, 0, 0, 0.534);
          }
        }
      }
    }
  }
}
