.order-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .logo {
    height: auto;
    width: 150px;
    padding-top: 20px;
  }
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 30px;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .profile-heading {
      }
      .address-heading {
      }
      .payment-method-div {
        display: flex;
        gap: 10px;
        align-items: center;
        .payment-method-heading {
        }
        .payment-image-div {
          cursor: pointer;
          display: flex;
          align-items: center;
          border: 1px solid grey;
          border-radius: 0.25rem;
          .choose-payment {
            margin: 0px;
            padding: 10px;
          }
          .arrow-image {
            width: 15px;
            margin-right: 10px;
            transition: 0.5s ease;
          }
        }
      }
    }
    .checkout-wrapper {
      .checkout-info-wrapper {
        .product-and-price-wrapper {
          display: flex;
          gap: 50px;
          .summary-heading {
          }
        }
        .checkout-button {
          max-width: 200px;
          background-color: transparent;
          margin-top: 30px;
          padding: 9px;
          cursor: pointer;
          border: 2px solid grey;
          transition: 0.5s;
          &:hover {
            border-radius: 10px;
            background-color: rgba(216, 0, 0, 0.534);
          }
        }
      }
    }
  }
}
