.super-div {
  .navbar-main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .image-div {
      margin-left: 10vw;
      margin-top: 20px;
      .logo {
        height: auto;
        width: 150px;
      }
    }
    .logged-super-div {
      display: flex;
      gap: 50px;
      margin-right: 100px;
      .logged-in-div {
        cursor: pointer;
        background-color: #5cce5e;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.5s ease;
        &:hover {
          background-color: #93f095;
        }
        .loggen-in-a {
          text-decoration: none;
          color: #262626;
          font-size: 14px;
        }
      }
      .sign-out-div {
        cursor: pointer;
        background-color: #5cce5e;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.5s ease;
        &:hover {
          background-color: #93f095;
        }
        .sign-out-heading {
          color: #262626;
          font-size: 22px;
        }
      }
    }

    .log-sign-div {
      display: flex;
      justify-content: flex-end;
      width: 100vw;
      gap: 50px;

      .login-a {
        position: relative;
        text-decoration: none;
        color: #262626;

        .log-in {
          cursor: pointer;
          background-color: #5cce5e;
          border-radius: 10px;
          padding: 10px;
          transition: 0.5s ease;

          &:hover + .grapesfruit {
            right: 100%;
          }
          &:hover {
            background-color: #93f095;
          }
        }
        .grapesfruit {
          position: absolute;
          height: auto;
          width: 40px;
          bottom: 25%;
          right: 25%;
          transition: right 0.5s ease-in-out;
          z-index: -1;
        }
      }
      .signup-a {
        position: relative;
        text-decoration: none;
        color: #262626;

        .sign-up {
          cursor: pointer;
          background-color: #5cce5e;
          border-radius: 10px;
          padding: 10px;
          transition: 0.5s ease;

          &:hover + .bananafruit {
            right: -27%;
            transform: rotate(10deg);
          }
          &:hover {
            background-color: #93f095;
          }
        }
        .bananafruit {
          position: absolute;
          height: auto;
          width: 25px;
          bottom: 25%;
          right: 25%;
          transition: right 0.5s ease-in-out;
          z-index: -1;
        }
      }
    }
  }
  .slogan-option-wrapper {
    position: relative;
    display: flex;
    border: 1px solid #5cce5e;
    border-radius: 30px;
    background: #5cce5e;
    flex-direction: column;
    gap: 200px;
    margin-top: 50px;
    .person {
      position: absolute;
      width: 100%;
      height: auto;
      max-width: 650px;
      bottom: 0px;
      z-index: 0;
    }
    .slogan-div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 80px;

      .slogan-heading1 {
        position: absolute;
        color: #262626;
        font-size: 70px;
        margin-left: 40vw;
        margin-top: 70px;
        white-space: nowrap;
      }
      .slogan-heading2 {
        position: absolute;
        color: #262626;
        font-size: 40px;
        margin-left: 40vw;
        margin-bottom: 0px;
        top: 230px;
        white-space: nowrap;
      }
    }
    .options-div {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-top: 200px;
      padding-bottom: 50px;
      .order-once-a {
        text-decoration: none;
        .single-purchase-button-wrapper {
          display: flex;
          position: relative;
          justify-content: center;
          .single-purchase-button {
            color: #262626;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.5px;
            border-radius: 50px;
            padding: 15px;
            background-color: #ffffff;
            cursor: pointer;
            z-index: 1;

            &:hover {
              background-color: #d5d81e;
            }

            &:hover + .veggie-icon1 {
              bottom: 38px;
            }
          }
          .veggie-icon1 {
            position: absolute;
            height: auto;
            width: 50px;
            transition: bottom 0.5s ease-out;
            bottom: 0px;
            z-index: 0;
          }
        }
      }
      .order-month-a {
        text-decoration: none;
        .membership-button-wrapper {
          display: flex;
          position: relative;
          justify-content: flex-start;
          .membership-button {
            color: #262626;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.5px;
            border-radius: 50px;
            padding: 15px;
            background-color: #ffffff;
            cursor: pointer;
            z-index: 1;

            &:hover {
              background-color: #d5d81e;
            }

            &:hover + .veggies-wrapper {
              bottom: 35px;
            }
          }
          .veggies-wrapper {
            position: absolute;
            left: 40px;
            transition: bottom 0.5s ease-out;
            bottom: 0px;

            .veggie-icon2 {
              height: auto;
              width: 50px;
              z-index: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .navbar-main-div {
    flex-direction: column;
    .image-div.image-div {
      margin-left: 0px;
    }
    .logged-super-div.logged-super-div {
      margin-right: 0px;
    }
  }
  .log-sign-div.log-sign-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px !important;
    gap: 20px !important;
  }
  .slogan-heading1.slogan-heading1.slogan-heading1 {
    top: 10px;
    margin-left: 5vw !important;
    white-space: normal !important;
  }
  .slogan-heading2.slogan-heading2.slogan-heading2 {
    margin-left: 5vw !important;
  }
}

@media (max-width: 1200px) {
  .person.person {
    opacity: 0;
  }
  .slogan-heading1.slogan-heading1 {
    margin-left: 20vw !important;
  }
  .slogan-heading2.slogan-heading2 {
    margin-left: 20vw !important;
  }
}

@media (max-width: 900px) {
  .slogan-heading2.slogan-heading2 {
    white-space: normal !important;
  }
}
