.main-contact-div {
  padding-top: 50px;
  padding-bottom: 20px;
  .heading-and-contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .contact-heading {
      font-size: 26px;
      line-height: 40px;
    }
    .email-div {
      display: flex;
      gap: 20px;
      border: 3px #474f49 solid;
      max-width: fit-content;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 12.5px;
      padding-bottom: 12.5px;
      border-radius: 10px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: #d5d81e;
      }
      .email-svg {
        min-width: 34.26px;
      }
      .contact-email {
        white-space: nowrap;
        margin: 0px;
      }
    }
  }
}
