.dashboard-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  .profile-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 6px;
    min-width: 400px;
    margin-top: 25vh;
    .profile-heading {
    }
    .success-order {
      border: 1px rgb(5, 204, 5) solid;
      background-color: rgba(87, 209, 87, 0.521);
      width: fit-content;
      padding: 7px;
    }
    .profile-info-wrapper {
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 20px;
      .email-heading {
      }
      .address-a {
        text-decoration: none;
        color: black;
        .address-heading {
          .address-b {
            color: purple;
          }
        }
      }
      .orders-heading {
      }
    }
  }
  .buttons-wrapper {
    display: flex;
    gap: 25px;
    .home-button {
      background: transparent;
      border: transparent;
      text-decoration: underline;
      font-size: larger;
      cursor: pointer;
    }
    .logout-button {
      background: transparent;
      border: transparent;
      text-decoration: underline;
      font-size: larger;
      cursor: pointer;
    }
  }
}
