.footer-main-div {
  background-color: #474f49;
  .footer-heading {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
  }
}
